*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
.env.*
*.log
*.pot
*.py[cod]
local_settings.py
*.sqlite3
*.egg-info/
dist/
build/
*.sqlite3-journal
*.coverage
htmlcov/
.coverage.*
.coverage
.pytest_cache/
.mypy_cache/
.pyre/
__pypackages__/
.vscode/
.idea/
*.swp
.DS_Store
